@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=League+Gothic&family=Oswald:wght@200&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

$tipoLetra: 'League Gothic', sans-serif ;

$textXl: 4rem;
$textLg: 3rem;
$textMd: 2rem;
$textSm: 1rem;