// mixins

@mixin h1 ($fontSize,$lineHeight,$margin ) {
	font-size: $fontSize;
	line-height: $lineHeight;
	margin: $margin;
}

// maps

$paleta: (
	'fondo1': violet,
	'fondo3': lightblue,
	'fondo4': pink,
	'color5': white,
	'fondo6': rgba(75, 39, 83, 0.6),

	);

// EMPIEZA SOBRE NOSOTROS

.bgLightblue {
	background-color: map-get($map:$paleta,$key:'fondo3');
}

.nosotros {
	grid-area: nosotros;
	text-align: center;

	padding: $padding;
	line-height: $lineHeight;
	margin: $margin1;
		h1{
			@include h1(4rem,1em,10px) 
			font-family: $tipoLetra;
		}	

		img {
				padding: $padding3;
			}

		.btnMore {
			background-color: $fondo4 ;
			border: none;
			border-radius: 5px;
			margin-top: $margin2;
			width: 100%;


			&:hover {
				color: white;
				transform: scale(1.1);
				transition: 0.3s;
			}

		}

		.boton3 {
			@extend .btnMore;
			&:hover {
				color: map-get($map:$paleta,$key:'fondo1');
			}

		}
	
	@media (min-width: 1024px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
			.sobreN {								
				display: flex;     
				flex-direction: column; 
				justify-content: center;
				height: 300px;
				width: 50%;
			}		
	}

} 	

// boton enviar de contactanos

.boton1 {
	
	
			background-color: rgb(81, 114, 168);
		 	border: none;
		 	padding: 5px;
		 	margin-left: 3px;
		 	margin-right: 3px ;
		 	border-radius: 4px ;
		 	width: 200px;
		 	text-align: center;
}	

.boton1 {
		margin-top: 15px;
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
			transition: 0.3s;
		}
	}