.nosotros {
	grid-area: nosotros;
	text-align: center;
	background-color: $fondo3;
	padding: $padding;
	line-height: $lineHeight;
	margin: $margin1;
		h1{
			font-family: $tipoLetra ;
			font-size: $textXl;
			padding: $padding2;
		}	

		img {
				padding: $padding3;
			}
	
	@media (min-width: 1024px) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
			.sobreN {
								
				display: flex;     
				flex-direction: column; 
				justify-content: center;
				height: 300px;
				width: 50%;

			}

			
		
	}

}